extends layout
block body
  #content
    h1.
      RoPaSci
    .alert
    .game-controls
      ul
        li#rock.attack
          a.
            rock
        li#paper.attack
          a.
            paper
        li#scissors.attack
          a.
            scissors
    .footer
      a(href='http://jacksonmurtha.com') jxn
